.search-box{
  font-family:  arial;
  flex: 1;
  height:46px;
  font-size: 20px;
  border-right: none;
  border-style: solid;
  padding-left: 10px;
  border-radius: 1px;
    border-color: rgba(17, 17, 17, 0.199);
  border-width: 1px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.10);
  width: 0px;

}
.search-button{
height: 50px;
width: 85px;
  border-color: rgba(17, 17, 17, 0.199);
  background-color: rgb(247, 246, 246);
  border-width: 1px;
  border-style: solid;
  border-left: 0.8px;
  cursor: pointer;
  border-radius: 1px;

}
.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
    position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  background-color: white;
  border-bottom-width:1px;
  border-bottom-color: rgb(202, 200, 200);
  border-bottom-style:solid;
  z-index: 1000;

}
.left-side {
  display: flex;
  align-items: center;
}
.ham{
  height: 29px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.logo{
  height:26px;
    cursor: pointer;
}
.middle{
  margin-left: 60px;
    flex: 1;
  margin-right: 29px;
  display: flex;
  align-items: center;
  max-width: 600px;
}
.right-side{
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.srimg{
  height: 30px;
}

.vsearch-button{
height: 50px;
width: 50px;
border: none;
    margin-left: 10px;
    background-color: rgb(247, 246, 246);
    border-radius: 25px;
    cursor: pointer;
}

.vsrimg{
  height: 30px;
  cursor: pointer;
}

.upcon{
  height: 30px;
  cursor: pointer;
}
.ytapps{
  height: 30px;
  cursor: pointer;
}
.ntf {
  height: 30px;
  cursor: pointer;
}
.user-pic{
  height: 40px;
  border-radius: 1000px;
  margin-right: 30px;
  cursor: pointer;
}
.search-button,
.vsearch-button,
.upcon-con,
.ytapp-con,
.ntf-con{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip ,
.vsearch-button .tooltip,
.upcon-con .tooltip,
.ytapp-con .tooltip,
.ntf-con .tooltip{
  position: absolute;
  bottom: -35px;
  background-color: rgb(148, 147, 147);
  color: white;
  font-family: Roboto;
  font-size: 15px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.15s ;
}
.search-button:hover .tooltip,
.vsearch-button:hover .tooltip,
.upcon-con:hover .tooltip,
.ytapp-con:hover .tooltip,
.ntf-con:hover .tooltip{
  opacity: 1;
}